# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build
dist

# Environment variables
.env
.env*.local

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode
.idea

# Misc
*.tsbuildinfo
next-env.d.ts
pnpm-lock.yaml
package-lock.json
yarn.lock




